@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


/* colors */
$preto: #000000;
$branco: #ffffff;

$bg-color: #4242e6;
$glitch-bg-color: $bg-color;
$rosa: #d35b7d;
$verde: #4ec869;

/* fonts */
$font-ps: 'Press Start 2P', cursive;
$font-pt: 'PT Sans', sans-serif;;