@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
/* Expanded Animations */
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@keyframes glitch-animation {
  0% {
    clip: rect(42px, 9999px, 44px, 0); }
  5% {
    clip: rect(12px, 9999px, 59px, 0); }
  10% {
    clip: rect(48px, 9999px, 29px, 0); }
  15.0% {
    clip: rect(42px, 9999px, 73px, 0); }
  20% {
    clip: rect(63px, 9999px, 27px, 0); }
  25% {
    clip: rect(34px, 9999px, 55px, 0); }
  30.0% {
    clip: rect(86px, 9999px, 73px, 0); }
  35% {
    clip: rect(20px, 9999px, 20px, 0); }
  40% {
    clip: rect(26px, 9999px, 60px, 0); }
  45% {
    clip: rect(25px, 9999px, 66px, 0); }
  50% {
    clip: rect(57px, 9999px, 98px, 0); }
  55.0% {
    clip: rect(5px, 9999px, 46px, 0); }
  60.0% {
    clip: rect(82px, 9999px, 31px, 0); }
  65% {
    clip: rect(54px, 9999px, 27px, 0); }
  70% {
    clip: rect(28px, 9999px, 99px, 0); }
  75% {
    clip: rect(45px, 9999px, 69px, 0); }
  80% {
    clip: rect(23px, 9999px, 85px, 0); }
  85.0% {
    clip: rect(54px, 9999px, 84px, 0); }
  90% {
    clip: rect(45px, 9999px, 47px, 0); }
  95% {
    clip: rect(37px, 9999px, 20px, 0); }
  100% {
    clip: rect(4px, 9999px, 91px, 0); } }

@keyframes glitch-animation-2 {
  0% {
    clip: rect(65px, 9999px, 100px, 0); }
  5% {
    clip: rect(52px, 9999px, 74px, 0); }
  10% {
    clip: rect(79px, 9999px, 85px, 0); }
  15.0% {
    clip: rect(75px, 9999px, 5px, 0); }
  20% {
    clip: rect(67px, 9999px, 61px, 0); }
  25% {
    clip: rect(14px, 9999px, 79px, 0); }
  30.0% {
    clip: rect(1px, 9999px, 66px, 0); }
  35% {
    clip: rect(86px, 9999px, 30px, 0); }
  40% {
    clip: rect(23px, 9999px, 98px, 0); }
  45% {
    clip: rect(85px, 9999px, 72px, 0); }
  50% {
    clip: rect(71px, 9999px, 75px, 0); }
  55.0% {
    clip: rect(2px, 9999px, 48px, 0); }
  60.0% {
    clip: rect(30px, 9999px, 16px, 0); }
  65% {
    clip: rect(59px, 9999px, 50px, 0); }
  70% {
    clip: rect(41px, 9999px, 62px, 0); }
  75% {
    clip: rect(2px, 9999px, 82px, 0); }
  80% {
    clip: rect(47px, 9999px, 73px, 0); }
  85.0% {
    clip: rect(3px, 9999px, 27px, 0); }
  90% {
    clip: rect(26px, 9999px, 55px, 0); }
  95% {
    clip: rect(42px, 9999px, 97px, 0); }
  100% {
    clip: rect(38px, 9999px, 49px, 0); } }

.trans {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.trans50 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/* colors */
/* fonts */
body {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important; }

a {
  outline: none !important;
  text-decoration: none !important; }
  a:hover {
    color: #d35b7d !important; }

.content-box {
  margin: 5% 0 0 5%;
  width: auto;
  position: relative;
  display: inline-block;
  overflow: hidden; }

.title-main {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  color: #d35b7d;
  display: block;
  font-weight: bold; }

.subtitle {
  font-family: "Press Start 2P", cursive;
  background-color: #000000;
  color: #d35b7d;
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
  text-shadow: 0 1px #4ec869;
  line-height: 22px; }

.content-subtitle {
  margin-top: 50px; }

.list-contacts {
  margin-left: 15px; }
  .list-contacts li {
    margin: 30px; }
    .list-contacts li:nth-child(1) i {
      padding: 15px 18px; }
    .list-contacts li:nth-child(2) i {
      padding: 15px; }
    .list-contacts li a {
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
  .list-contacts i {
    color: #4ec869;
    text-shadow: 1px 1px #4ec869;
    background-color: #000000;
    font-size: 2rem;
    border: 2px solid #000000; }
    .list-contacts i:hover {
      color: #d35b7d;
      text-shadow: 1px 1px #d35b7d;
      border: 2px dashed #d35b7d; }

.glitch {
  position: relative;
  margin: 5px;
  background: #000000;
  padding: 2px; }

.glitch::before,
.glitch::after {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
  overflow: hidden;
  position: absolute;
  top: 0;
  clip: rect(0, 900px, 0, 0);
  content: attr(data-text); }

.glitch::after {
  animation-name: glitch-animation;
  animation-duration: 4s;
  left: 4px;
  text-shadow: -1px 0 #4ec869;
  background: #000000; }

.glitch::before {
  animation-name: glitch-animation-2;
  animation-duration: 6s;
  left: -4px;
  text-shadow: 1px 0 #4ec869;
  background: #000000; }

footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0 15px;
  font-family: "PT Sans", sans-serif; }

.green {
  color: #4ec869; }

.pink {
  color: #d35b7d; }

.branco {
  color: #ffffff; }

.bold {
  font-weight: 700 !important; }

@media (min-width: 320px) {
  body {
    background: url(../img/mobile.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000; } }

@media (min-width: 789px) {
  body {
    background: url(../img/full.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000000; } }

/**
 * Tooltip Styles
 */
[class^="tooltip"] {
  position: relative; }
  [class^="tooltip"]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    text-transform: uppercase;
    top: 2.6em;
    left: 50%;
    transform: translateX(-50%) translateY(-2px);
    background: #000000;
    padding: 5px 15px;
    color: #d35b7d;
    white-space: nowrap;
    z-index: 999;
    border-radius: 0;
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 30px; }
  [class^="tooltip"]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); }

.tooltip--left:after {
  top: -4px;
  left: 0;
  transform: translateX(-112%) translateY(0); }

.tooltip--left:hover:after {
  transform: translateX(-110%) translateY(0); }

.tooltip--right:after {
  top: -4px;
  left: 100%;
  transform: translateX(12%) translateY(0); }

.tooltip--right:hover:after {
  transform: translateX(10%) translateY(0); }

.tooltip--triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px grey;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateX(-50%) translateY(-2px);
  top: 1.1em;
  left: 50%;
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  z-index: 3; }

.tooltip--triangle:hover:before {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0); }

.bg-black {
  background-color: #000000; }

/*# sourceMappingURL=theboombap.css.map */